.container{
    margin: auto;
    width: 30%;
    height:auto;
    border: 11px solid beige;
}

.head{
    background-color: rgb(19, 184, 68);
    box-shadow: 1px 11px 12px;
    padding: 10px;
    border: 11px solid beige;
}
.car-p{
    color:white;
    width:50px;
    text-align: center;
    padding: 10px;
    height:20px;
    border-radius: 10px;
    background-color: black;

}
h3{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
span{
    color: white;
    margin-bottom: 15px;
}
.bi-star{
    color: yellow;
    padding: 3px;
}
.color-p{
    color: aliceblue;
}
.amount{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.amt{
    text-decoration: line-through;
}
.btn1{
    width:15px;
    height:15px;
    border-radius: 50%;
    padding: 0px 5px;
    background-color: red;
    border: none;
    margin-left: 5px;
    

}
.btn2{
    width:15px;
    height:15px;
    border-radius: 50%;
    padding: 0px 5px;
    background-color: gray;
    border: none;
    margin-left: 5px;

}
.btn3{
    width:15px;
    height:15px;
    border-radius: 50%;
    padding: 0px 5px;
    background-color: blue;
    border: none;
    margin-left: 5px;

}
.addto{
    margin-top: 10px;
    width: 107px;
height: 31px;
background: black;
border-radius: 10px;
padding: 8px 10px;
}
.bi-cart-fill{
    color:aliceblue;
}

